In [1]:
import pandas as pd

regions_df = pd.read_csv('data/raw/IMF Data regions.csv')
countries_df = pd.read_csv('data/raw/IMF Data countries.csv')

In [2]:
print(regions_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 36 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   14 non-null     object
 1   Series Name    14 non-null     object
 2   1990 [YR1990]  14 non-null     object
 3   1991 [YR1991]  14 non-null     float64
 4   1992 [YR1992]  14 non-null     float64
 5   1993 [YR1993]  14 non-null     float64
 6   1994 [YR1994]  14 non-null     float64
 7   1995 [YR1995]  14 non-null     float64
 8   1996 [YR1996]  14 non-null     float64
 9   1997 [YR1997]  14 non-null     float64
 10  1998 [YR1998]  14 non-null     float64
 11  1999 [YR1999]  14 non-null     float64
 12  2000 [YR2000]  14 non-null     float64
 13  2001 [YR2001]  14 non-null     float64
 14  2002 [YR2002]  14 non-null     float64
 15  2003 [YR2003]  14 non-null     float64
 16  2004 [YR2004]  14 non-null     float64
 17  2005 [YR2005]  14 non-null     float64
 18  2006 [YR2006]  14 non-null     float64
 19  2007 [YR2007]  14 non-null     float64
 20  2008 [YR2008]  14 non-null     float64
 21  2009 [YR2009]  14 non-null     float64
 22  2010 [YR2010]  14 non-null     float64
 23  2011 [YR2011]  14 non-null     float64
 24  2012 [YR2012]  14 non-null     float64
 25  2013 [YR2013]  14 non-null     float64
 26  2014 [YR2014]  14 non-null     float64
 27  2015 [YR2015]  14 non-null     float64
 28  2016 [YR2016]  14 non-null     float64
 29  2017 [YR2017]  14 non-null     float64
 30  2018 [YR2018]  14 non-null     float64
 31  2019 [YR2019]  14 non-null     float64
 32  2020 [YR2020]  14 non-null     float64
 33  2021 [YR2021]  14 non-null     float64
 34  2022 [YR2022]  14 non-null     float64
 35  2023 [YR2023]  14 non-null     float64
dtypes: float64(33), object(3)
memory usage: 4.1+ KB
None

In [3]:
print(countries_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 36 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   217 non-null    object
 1   Series Name    217 non-null    object
 2   1990 [YR1990]  217 non-null    object
 3   1991 [YR1991]  217 non-null    object
 4   1992 [YR1992]  217 non-null    object
 5   1993 [YR1993]  217 non-null    object
 6   1994 [YR1994]  217 non-null    object
 7   1995 [YR1995]  217 non-null    object
 8   1996 [YR1996]  217 non-null    object
 9   1997 [YR1997]  217 non-null    object
 10  1998 [YR1998]  217 non-null    object
 11  1999 [YR1999]  217 non-null    object
 12  2000 [YR2000]  217 non-null    object
 13  2001 [YR2001]  217 non-null    object
 14  2002 [YR2002]  217 non-null    object
 15  2003 [YR2003]  217 non-null    object
 16  2004 [YR2004]  217 non-null    object
 17  2005 [YR2005]  217 non-null    object
 18  2006 [YR2006]  217 non-null    object
 19  2007 [YR2007]  217 non-null    object
 20  2008 [YR2008]  217 non-null    object
 21  2009 [YR2009]  217 non-null    object
 22  2010 [YR2010]  217 non-null    object
 23  2011 [YR2011]  217 non-null    object
 24  2012 [YR2012]  217 non-null    object
 25  2013 [YR2013]  217 non-null    object
 26  2014 [YR2014]  217 non-null    object
 27  2015 [YR2015]  217 non-null    object
 28  2016 [YR2016]  217 non-null    object
 29  2017 [YR2017]  217 non-null    object
 30  2018 [YR2018]  217 non-null    object
 31  2019 [YR2019]  217 non-null    object
 32  2020 [YR2020]  217 non-null    object
 33  2021 [YR2021]  217 non-null    object
 34  2022 [YR2022]  217 non-null    object
 35  2023 [YR2023]  217 non-null    object
dtypes: object(36)
memory usage: 61.2+ KB
None

In [4]:
countries_df.columns

Index(['Country Name', 'Series Name', '1990 [YR1990]', '1991 [YR1991]',
       '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]',
       '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]',
       '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]', '2023 [YR2023]'],
      dtype='object')

In [5]:
countries_df.columns = countries_df.columns.str.replace(r' \[\w+\]', '', regex=True)

In [6]:
countries_df.columns

Index(['Country Name', 'Series Name', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023'],
      dtype='object')

In [7]:
regions_df.columns = regions_df.columns.str.replace(r' \[\w+\]', '', regex=True)

In [8]:
regions_df.columns

Index(['Country Name', 'Series Name', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023'],
      dtype='object')

In [9]:
regions_df = regions_df.rename(columns={'Country Name': 'Region Name'})

In [10]:
regions_df

,Region Name,Series Name,1990,1991,1992,1993,1994,1995,1996,1997,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Africa Eastern and Southern,GDP growth (annual %),0.182030899,-0.092709,-2.355109,-0.591581,1.899017,4.283193,5.454772,3.838778,...,3.983182,3.011572,2.183581,2.651400,2.681718,2.189259,-2.780379,4.497380,3.554422,2.622310
1,Africa Western and Central,GDP growth (annual %),5.773827878,1.009365,2.483663,-1.317609,-0.323481,1.919113,4.649809,4.447027,...,5.925583,2.813979,0.141489,2.284961,2.842645,3.222029,-1.004417,3.994854,3.784486,3.342776
2,Caribbean small states,GDP growth (annual %),-0.872625886,-0.987619,-0.539801,0.906972,3.312283,2.839356,4.056852,3.391554,...,1.763824,0.697970,0.471964,1.943260,2.891163,1.024653,-9.193463,10.444032,22.478217,12.715856
3,Central Europe and the Baltics,GDP growth (annual %),..,-10.865378,-4.998184,0.199352,3.685311,5.492109,4.546918,2.313652,...,3.215753,4.026322,2.753193,5.101274,4.946400,3.908522,-3.417476,6.433399,4.247073,0.511703
4,East Asia & Pacific,GDP growth (annual %),5.06745285,4.854459,4.244202,4.198741,5.238420,5.668933,5.620714,4.054422,...,4.758704,4.728386,4.659080,5.053174,4.759155,3.960222,-0.144693,6.221136,2.886030,4.095179
5,Europe & Central Asia,GDP growth (annual %),2.293723366,0.152366,-0.710082,-0.787108,1.213991,2.149588,1.783451,3.076031,...,1.926600,2.058147,1.899822,2.908723,2.134441,1.805256,-5.462444,6.523852,3.157499,0.964033
6,European Union,GDP growth (annual %),3.305009352,1.419414,0.887791,-0.641563,2.638593,2.678594,1.881370,2.653188,...,1.600653,2.309378,1.972308,2.844765,2.066902,1.805312,-5.652857,6.008729,3.478654,0.450652
7,Latin America & Caribbean,GDP growth (annual %),-0.378314422,2.947664,2.570720,4.395173,5.226184,0.828611,3.968158,5.390492,...,1.336538,0.407854,-0.334794,1.889825,1.571706,0.718741,-6.649246,6.996792,3.987931,2.153084
8,Middle East & North Africa,GDP growth (annual %),10.27037873,3.578750,5.950064,2.034824,2.895656,2.974158,4.949719,4.077832,...,2.832882,2.690417,4.359754,1.957244,2.262259,1.378350,-4.023299,5.572891,5.748363,1.780040
9,North America,GDP growth (annual %),1.74443651,-0.273108,3.308205,2.744488,4.064133,2.685012,3.607318,4.434225,...,2.549447,2.761105,1.757414,2.502845,2.947893,2.422733,-2.434355,5.761286,2.078674,2.429617
10,Pacific island small states,GDP growth (annual %),3.776179426,-0.381665,5.007804,1.985016,4.806500,4.514122,3.157241,-1.161393,...,3.624297,3.779157,3.780607,4.005502,2.763180,1.214500,-10.253069,-2.867966,9.308397,5.758452
11,South Asia,GDP growth (annual %),5.396915261,2.107795,5.806666,4.286290,5.918224,6.823804,6.708155,3.694577,...,6.847838,7.251562,7.776236,6.502641,6.334694,3.924323,-4.582693,8.763821,6.312212,6.352855
12,Sub-Saharan Africa,GDP growth (annual %),2.354102752,0.349682,-0.399975,-0.892893,0.980603,3.318888,5.130877,4.082400,...,4.870760,2.920374,1.242037,2.484283,2.754967,2.659745,-1.966895,4.264937,3.660562,2.955096
13,World,GDP growth (annual %),2.764541122,1.255826,2.019257,1.812976,3.323942,3.084615,3.574686,3.929714,...,3.123870,3.126136,2.820557,3.460239,3.286613,2.642216,-2.932043,6.259851,3.089607,2.719333

In [12]:
regions_df['Series Name'].unique()

array(['GDP growth (annual %)'], dtype=object)

In [13]:
countries_df['Series Name'].unique()

array(['GDP growth (annual %)'], dtype=object)

In [14]:
regions_df.drop(columns=['Series Name'], inplace=True)
countries_df.drop(columns=['Series Name'], inplace=True)

In [15]:
regions_df.to_csv('data/processed/IMF Data regions.csv', index=False)
countries_df.to_csv('data/processed/IMF Data countries.csv', index=False)